@keyframes slideInFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideSide {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(4%);
    opacity: 1;
  }
}


navy {
 color: #0C3B62;
}



::selection {
  background: #0C3B62; /* WebKit/Blink Browsers */
  color: #FFFFFF;
}
::-moz-selection {
  background: #0C3B62; /* Gecko Browsers */
  color: #FFFFFF;
}


  body {
    background-color: #F6F6F6;
    margin: 0;
  }

  .logo {
    margin: 5em;
    margin-top: 10em;
    height: 5em;
    width: 5em;
  }

  .logo img {
    height: 8em;
    width: 8em;
  }

  .heading {
    animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    font-family: 'Hind', sans-serif;
    color: #0C3B62;
    font-size: 6em;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 6em;
    margin-left: 1em;
    margin-top: 4em;
    margin-right: 1em;
  }


  .heading img {
    position: absolute;
    z-index: -1;
    margin-top: -40px;
  }

  .heading h2 {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 0.2em;
    line-height: 2.2em;
    text-align: left;
  }

  .heading a {
    color: #0C3B62;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  .heading a:hover{
      color: #0070C0;
  }


  .project{
    animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    margin: 5em;
    margin-top: 10em;
    margin-bottom: 5em;
    height: 100%;
  }

  .projecttitle{
    animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    display: grid;
    margin: 5em;
    margin-bottom: -2em;
    margin-top: 20em;

  }

  .project>div:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
        z-index: 3;
        align: center;
      }

  .project>div:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
        z-index: -1;
        object-fit: cover;
        overflow: show;
        margin-top: -1.5em;
        margin-bottom: 5em;
      }

  .project img{
    width: 100%;

  }

  .project a {
    text-decoration: none;
  }

  .project titles{
    transition: 0.4s;
  }


  .project titles:hover {
    transform: translatex(5%);
  }

  .project h1 {
    font-family: 'Hind', sans-serif;
    color: #0C3B62;
    font-size: 3em;
    line-height: 1.3em;
    margin-bottom: -0.5em;
  }




  .project h2 {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-size: 2.25em;
    font-weight: normal;
  }

  .projecttitle h3 {
    font-family: 'Hind', sans-serif;
    color: #C0C0C0;
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: -1em;
  }



  .about{
    animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    margin: 5em;
    margin-top: 5em;
    margin-bottom: 10em;
  }


  .about h1 {
    font-family: 'Hind', sans-serif;
    color: #C0C0C0;
    font-size: 5em;
    font-weight: 700;
    line-height: 0.6em;
    margin-bottom: 1em;
  }


  .about .text {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 1em;
    text-align: left;
  }

  .about a {
    color: #0C3B62;
    font-weight: inherit;
    text-decoration: none;
  }


footer {
      background-color: #0C3B62;
      color: #FFFFFF;
      font-family: 'Nunito', sans-serif;
      font-size: 1em;
      padding: 10em;
      padding-top: 3em;
      padding-bottom: 3em;
      text-align: right;
      margin-top: 12em;
    }

footer h1 {
      font-family: 'Hind', sans-serif;
      color: #FFFFFF;
      font-size: 3.5em;
      font-weight: 700;
      line-height: 1.2em;
    }
