
@keyframes slideInFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideSide {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(4%);
    opacity: 1;
  }
}


navy {
 color: #0C3B62;
}



::selection {
  background: #0C3B62; /* WebKit/Blink Browsers */
  color: #FFFFFF;
}
::-moz-selection {
  background: #0C3B62; /* Gecko Browsers */
  color: #FFFFFF;
}


  body {
    background-color: #F6F6F6;
    margin: 0;
  }

  .logo {
    margin: 10em;
    height: 5em;
    width: 5em;
  }

  .logo img {
    height: 5em;
    width: 5em;
  }

  .heading {
    animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    font-family: 'Hind', sans-serif;
    color: #0C3B62;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 4em;
    margin-left: 2.5em;
    margin-top: -1em;

  }


  .heading img {
    position: absolute;
    z-index: -1;
    margin-top: -40px;
  }

  .heading h2 {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 0.3em;
    text-align: left;
  }

  .heading a {
    color: #0C3B62;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }

  .heading a:hover{
      color: #0070C0;
  }


  .project{
    display: grid;
    grid-template-columns: repeat(auto, minmax(5em, 1fr));
    grid-gap: 1em;
    margin: 10em;
  }

  .project>div:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/5;
        z-index: 2;
      }

  .project>div:nth-child(2) {
        grid-row: 1/2;
        grid-column: 5/8;
        z-index: 3;
        object-fit: cover;
        overflow: hidden;
        margin-top: 1em;
      }

  .project img{
    width: 20em;
  }

  .project a {
    text-decoration: none;
  }

  .project titles{
    transition: 0.4s;
  }


  .project titles:hover {
    transform: translatex(5%);
  }

  .project h1 {
    font-family: 'Hind', sans-serif;
    color: #0C3B62;
    font-size: 2.5em;
    line-height: 1.3em;
  }




  .project h2 {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-size: 1.25em;
    font-weight: normal;
  }

  .project h3 {
    font-family: 'Hind', sans-serif;
    color: #D2D2D2;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: -4em;
  }



  .about{
    animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    margin: 10em;
    margin-top: 25em;
    margin-bottom: 15em;
  }


  .about h1 {
    font-family: 'Hind', sans-serif;
    color: #D2D2D2;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2em;
  }


  .about .text {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 1.4em;
    text-align: left;
  }

  .about a {
    color: #0C3B62;
    font-weight: inherit;
    text-decoration: none;
  }


footer {
      background-color: #0C3B62;
      color: #FFFFFF;
      font-family: 'Nunito', sans-serif;
      font-size: 1em;
      padding: 10em;
      text-align: right;
    }

footer h1 {
      font-family: 'Hind', sans-serif;
      color: #FFFFFF;
      font-size: 3.5em;
      font-weight: 700;
      line-height: 1.2em;
    }
