
@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

a {
    color: #0070C0;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #0070c0;
    text-decoration: none;
    font-weight: bold;
}


@media only screen and (min-width: 601px) {




  body {
    background-color: #F6F6F6;
  }

  .logo {
    margin: 10em;
    height: 5em;
    width: 5em;
  }

  .logo img {
    height: 5em;
    width: 5em;
  }

  .heading {
          animation: 0.6s ease-in-out 0s 1 slideInFromBottom;
    font-family: 'Hind', sans-serif;
    color: #0070C0;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 7em;
    margin-left: 2.5em;

  }


  .project{
    margin: 10em;
  }



  .project h1 {
    font-family: 'Hind', sans-serif;
    color: #0C3B62;
    font-size: 2em;
  }

  .project h2 {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-size: 0.9em;
    font-weight: normal;
  }



  .about{
    margin: 10em;
    margin-top: 30em;
  }

  .about h1 {
    font-family: 'Hind', sans-serif;
    color: #0070C0;
    font-size: 4em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: right;
  }

  .about img{
    height: 30em;
    width: 26em;x
  }

  .about text {
    font-family: 'Nunito', sans-serif;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 1em;
    text-align: right;
    width: 25em;
    margin-left: 2em;
    float: right;

  }


    .about break{
      height: 90em;
    }

footer {
      background-color: #0070C0;
      color: #FFFFFF;
      font-family: 'Nunito', sans-serif;
      font-size: 0.8em;
      margin: 0em;
      padding: 5em;
      text-align: right;
    }


}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {

  body {
    background-color: #F2F2F2;
    padding-left: 5em;
  }

  .logo {
    margin: 5em;
    margin-left: 0em;
    height: 5em;
    width: 5em;
  }

  .logo img {
    height: 3em;
    width: 3em;
  }
  .heading {
    font-family: 'Hind', sans-serif;
    color: #0070C0;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.015em;
    line-height: 1.2em;
  }
}


navy {
 color: #0C3B62;
}



::selection {
  background: #0C3B62; /* WebKit/Blink Browsers */
  color: #FFFFFF;
}
::-moz-selection {
  background: #0C3B62; /* Gecko Browsers */
  color: #FFFFFF;
}
